.alert-primary {
	color: #004085;
	background-color: #cce5ff;
	border-color: #b8daff;
}

.alert-primary hr {
	border-top-color: #9fcdff;
}

.alert-primary {
	.mr-alert-icon,
	.alert-link {
		color: #004085;
	}
	.mr-alert-button {
		color: #004085;
		background: #57a8fc;
		border: 2px solid #b8daff;
		&:hover {
			color: #004085;
			background: #78b9fc;
		}
	}
}

.alert-secondary {
	color: #383d41;
	background-color: #e2e3e5;
	border-color: #d6d8db;
}

.alert-secondary hr {
	border-top-color: #c8cbcf;
}

.alert-secondary {
	.mr-alert-icon,
	.alert-link {
		color: #202326;
	}
	.mr-alert-button {
		color: #383d41;
		background: #b2b3b6;
		border: 2px solid #d6d8db;
		&:hover {
			color: #383d41;
			background: #a1a1a2;
		}
	}
}

.alert-success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}

.alert-success hr {
	border-top-color: #b1dfbb;
}

.alert-success {
	.mr-alert-icon,
	.alert-link {
		color: #0b2e13;
	}
	.mr-alert-button {
		color: #155724;
		background: #a4eab5;
		border: 2px solid #c3e6cb;
		&:hover {
			color: #155724;
			background: #6ce98a;
		}
	}
}

.alert-info {
	color: #0c5460;
	background-color: #d1ecf1;
	border-color: #bee5eb;
}

.alert-info hr {
	border-top-color: #abdde5;
}

.alert-info {
	.mr-alert-icon,
	.alert-link {
		color: #062c33;
	}
	.mr-alert-button {
		color: #0c5460;
		background: #84d9e9;
		border: 2px solid #bee5eb;
		&:hover {
			color: #0c5460;
			background: #69d2e5;
		}
	}
}

.alert-warning {
	color: #856404;
	background-color: #fff3cd;
	border-color: #ffeeba;
}

.alert-warning hr {
	border-top-color: #ffe8a1;
}

.alert-warning {
	.mr-alert-icon,
	.alert-link {
		color: #533f03;
	}
	.mr-alert-button {
		color: #533f03;
		background: #f9d86e;
		border: 2px solid #ffeeba;
		&:hover {
			color: #533f03;
			background: #f5cb47;
		}
	}
}

.alert-danger {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.alert-danger hr {
	border-top-color: #f1b0b7;
}

.alert-danger {
	.mr-alert-icon,
	.alert-link {
		color: #491217;
	}
	.mr-alert-button {
		color: #721c24;
		background: #f9a1a9;
		border: 2px solid #f5c6cb;
		&:hover {
			color: #721c24;
			background: #f5858f;
		}
	}
}

.alert-light {
	color: #818182;
	background-color: #fefefe;
	border-color: #fdfdfe;
}

.alert-light hr {
	border-top-color: #ececf6;
}

.alert-light .alert-link {
	color: #686868;
}
.alert-light {
	.mr-alert-icon,
	.alert-link {
		color: #686868;
	}
	.mr-alert-button {
		color: #818182;
		background: #dcdcdc;
		border: 2px solid #fdfdfe;
		&:hover {
			color: #818182;
			background: #d1cfcf;
		}
	}
}

.alert-dark {
	color: #1b1e21;
	background-color: #d6d8d9;
	border-color: #c6c8ca;
}

.alert-dark hr {
	border-top-color: #b9bbbe;
}

.alert-dark {
	.mr-alert-icon,
	.alert-link {
		color: #040505;
	}
	.mr-alert-button {
		color: #383d41;
		background: #b2b3b6;
		border: 2px solid #d6d8db;
		&:hover {
			color: #383d41;
			background: #a1a1a2;
		}
	}
}
.mr-button {
	text-decoration: none;
	vertical-align: middle;
	.mr-alert-icon {
		text-decoration: none;
		display: inline-block;
		vertical-align: middle;

		svg {
			display: inline-block;
			vertical-align: middle;
			text-decoration: none;
		}
		span {
			text-decoration: none;
			display: inline-block;
			vertical-align: middle;;
		}
	}
}
.mr-alert-button-wrapper {
	position: relative;
	display: inline-block;
}
.mr-alert-wrapper {
	text-align: center;
}

.mr-alert-control-tabs {
	button.active-tab {
		border-top: 0;
		border-bottom: 2px solid;
		font-weight: 700;
		box-shadow: none;
	}
}